#hamburger-container {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.hamburger-square {
    position: relative;
    height: 50px;
    width: 50px;
}
.line {
    position: absolute;
    width: 50px;
    height: 10px;
    background-color: #FF5721;
    border-radius: 5px;
    left: 0;
}
.hamburger {
    background-color: white;
    transition: background-color .3s;
}
.hamburger .line{
    background-color: #FF5721;
    transition: background-color .3s;
}
.cross {
    background-color: #FF5721;
    transition: background-color .3s;
}
.cross .line{
    background-color: white;
    transition: background-color .3s;
}

.hamburger .line-1 {
    top: 0;
    transform: rotate(0);
    transition: top .3s, transform .3s;
}
.hamburger .line-2 {
    top: 20px;
    width: 50px;
    transition: top .3s, left .3s, width .3s;
}
.hamburger .line-3 {
    top: 40px;
    transform: rotate(0);
    transition: top .3s, transform .3s;
}

.cross .line-1 {
    top: 20px;
    transform: rotate(45deg);
    transition: top .3s, transform .3s;
}
.cross .line-2 {
    top: 20px;
    width: 10px;
    left: 20px;
    transition: top .3s, left .3s, width .3s;
}
.cross .line-3 {
    top: 20px;
    transform: rotate(135deg);
    transition: top .3s, transform .3s;
}

