#hamburger-container {
    height: 110px;
    width: 110px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.hamburger-square {
    position: relative;
    height: 50px;
    width: 50px;
}
.line {
    position: absolute;
    width: 50px;
    height: 10px;
    background-color: #FF5721;
    border-radius: 5px;
    left: 0;
}

.hamburger .line-1 {
    top: 0;
    transform: rotate(0);
    transition: top .5s, transform .5s;

}
.hamburger .line-2 {
    top: 20px;
    width: 50px;
    transition: top .5s, left .5s, width .5s;

}
.hamburger .line-3 {
    top: 40px;
    transform: rotate(0);
    transition: top .5s, transform .5s;

}

.cross .line-1 {
    top: 20px;
    transform: rotate(45deg);
    transition: top .5s, transform .5s;

}
.cross .line-2 {
    top: 20px;
    width: 10px;
    left: 20px;
    transition: top .5s, left .5s, width .5s;

}
.cross .line-3 {
    top: 20px;
    transform: rotate(135deg);
    transition: top .5s, transform .5s;
}

