@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

html {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-image: radial-gradient(#001c60, black);
    font-family: 'Comfortaa', cursive;
    position: relative;
}


.header {
    position: fixed;
    color: white;
    top: 0;
    width: 100%;
    text-align: center;
    left: 0;
    display: flex;
    align-items: center;
    font-size: 12px;
    justify-content: center;
    background-color: black;
}
#date {
    color: #FF5721;
}