.tapsi-square {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

.line {
    background-color: #FF5721;
    height: 20px;
    box-shadow: 0 1px 30px 10px #00000044;
}

.line:first-child {
    width: 50px;
}
.line:last-child {
    width: 80px;
}

/* Animation Keyframes: */

