.error-container{
    height: 50px;
    width: 50px;
}

.error-logo {
    height: 48px;
    width: 48px;
    background-color : #fde9ea;
    border-radius: 50%;
    position: relative;
    margin: auto;
    animation-name: vibrate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    box-shadow: 0 1px 20px 10px #00000044;
}

.error-logo div {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 15px;
    width: 2px;
    background-color : #e60722;
}

.error-logo div:first-child {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.error-logo div:last-child {
    transform: translate(-50%, -50%) rotate(45deg);
}

@keyframes vibrate {
    0%   {
        left: 0;
        opacity: 0;
        transform: scale(2);
    }
    5%  {
        left: -5px;
        opacity: .5;
    }
    10%  {
        left: 5px;
        opacity: 1;
    }
    15%  {left: -5px;}
    20%  {left: 5px;}
    25% {
        left: 0;
        transform: scale(2);
    }
    100% {
        transform: scale(2);
    }
}

@keyframes scaled {
    0%   {transform: scale(0);}
    30%   {transform: scale(2);}
    100% {transform: scale(2);}
}